name: Publish to PyPI

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v3
        with:

  
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.11'
  
      - name: Install poetry
        run: |
          pip install poetry
  
      - name: Install dependencies
        run: |
          pip install pipx
          pipx install poetry
          pipx inject poetry "poetry-dynamic-versioning[plugin]"

      - name: Publish package to PyPI
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish --build
