name: Publish to Test PyPI
on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
  
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.11'
  
      - name: Install poetry
        run: |
          pip install poetry
          poetry self add "poetry-dynamic-versioning[plugin]"
  
      - name: Install dependencies
        run: |
          poetry install
      
      - name: Publish package to TestPyPI
        run: |
          poetry config repositories.test-pypi https://test.pypi.org/legacy/
          poetry config pypi-token.test-pypi ${{ secrets.TEST_PYPI_TOKEN }}
          poetry publish -r test-pypi --build
